venv/
.idea/
__pycache__
.pytest_cache
.vscode
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
*.log
tests/
.gitignore
Dockerfile*
.github
jenkinsfile.disable.groovy
README.md